@media (max-width: 767px) {
    * {}

    /* end studyVocab,studyGrammar */

    .alertSuccess {
        bottom: 92px;
    }

    .listenAndChoose .optionChoose,
    .viewAndChoose .optionChoose {
        margin: 0px 20px 20px 0px;
        height: 69px;
        width: 182px;
        font-size: 28px;
    }

    .listenAndChoose .sound_listen {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .flashCards a.btn.btn-primary {
        margin-top: 420px;
    }

    .studyVocab,
    .studyGrammar {
        padding: 211px 0 0 0;
    }

    /* end vocabLessonContent grammarLessonContent*/
    .vocabLessonContent,
    .grammarLessonContent {
        padding: 233px 0 29px 0;
    }

    /* end studyAlphabet */
    .studyAlphabet {
        padding: 216px 0 0px 0;
        background-color: rgb(255, 241, 241);
    }

    /* end alphbet_lessonContent */

    .alphbet_lessonContent {
        padding: 211px 0 0 0;
    }

    /* end home  */
    .name_user i.fa-solid.fa-caret-down {
        margin: 17px 0px 0px 5px;
    }

    .name_user h5 {
        margin: 14px 4px 0px 0px;
        font-size: 20px;
    }

    .info_user img.img-fluid.user_svg {
        margin: 7px 9px 8px 0px;
    }

    .info_user {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 4px;
        justify-content: center;
    }

    .sign_up_member h5 {
        margin: 3px 0px 0px;
        font-size: 20px;
    }

    .sign_up_member img.img-fluid.rounded-top.member_svg {
        width: 30px;
        margin: 0px 8px 7px 0px;
    }

    .sign_up_member {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
        margin: 0px;
    }

    .see_vocab_lesson button.btn.btn-primary img.img-fluid.rounded-top,
    .see_grammar_lesson button.btn.btn-primary img.img-fluid.rounded-top,
    .see_communication_lesson button.btn.btn-primary img.img-fluid.rounded-top {
        width: 26px;
    }

    .see_vocab_lesson button.btn.btn-primary h3,
    .see_grammar_lesson button.btn.btn-primary h3,
    .see_communication_lesson button.btn.btn-primary h3 {
        font-size: 17px;
        right: 6px;
    }

    .see_vocab_lesson button.btn.btn-primary h2,
    .see_grammar_lesson button.btn.btn-primary h2,
    .see_communication_lesson button.btn.btn-primary h2 {
        font-size: 19px;
    }

    .see_vocab_lesson,
    .see_grammar_lesson,
    .see_communication_lesson {
        padding-top: 239px;
        background-color: rgb(255, 241, 241);
    }

    .see_vocabulary,
    .see_grammar {
        padding-top: 253px;
        background-color: rgb(255, 241, 241);
        padding-bottom: 44px;
    }

    .see_alphabet {
        padding-top: 242px;
        background-color: rgb(255, 241, 241);
        padding-bottom: 111px;
    }

    form.form_logIn {
        margin-top: 73px;
    }

    form.form_sign-up .mb-4 {
        margin-bottom: 13px !important;
    }

    form.form_sign-up h3 {
        font-size: 32px;
    }

    form.form_sign-up {
        margin-top: 87px;
        padding-bottom: 100px;
        background-color: rgb(255, 241, 241);
    }

    img.img-fluid.rounded-top.icon_gt {
        margin-top: -8px;
    }

    .vocabulary button.btn.btn-primary,
    .grammar button.btn.btn-primary {
        font-size: 23px;
        padding: 6px 21px;
        margin-top: 28px;
    }

    .vocabulary h3,
    .grammar h3 {
        font-size: 40px;
    }

    .grammar {
        margin-top: 33px;
    }

    li.nav-item.active {
        border-radius: 0px 50px;
    }

    .vocabulary {
        margin-top: 125px;
    }

    .content {
        margin: -125px 0px 0px;
    }

    .btn-group.two_sign {
        margin: 16px 24px;
    }

    a.navbar-brands {
        margin-left: -3px;
    }

    img.img-fluid.rounded-top.icon_logo {
        margin-left: -5px;
    }

    li.nav-item {
        padding: 0px 13px;
    }

    ul.navbar-nav {
        position: fixed;
        bottom: 1px;
        left: 0px;
        right: 0px;
        margin: 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    * {}

    /* end studyVocab,studyGrammar */

    .listenAndChoose .optionChoose,
    .viewAndChoose .optionChoose {
        width: 185px;
        height: 73px;
        font-size: 29px;
        margin: 0px 13px 18px 16px;
    }

    .listenAndChoose .sound_listen {
        margin-bottom: 12px;
    }

    /* end home */

    .name_user i.fa-solid.fa-caret-down {
        margin: 17px 0px 0px 5px;
    }

    .name_user h5 {
        margin: 14px 4px 0px 0px;
        font-size: 20px;
    }

    .info_user img.img-fluid.user_svg {
        margin: 7px 9px 8px 0px;
    }

    .info_user {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 4px;
        justify-content: center;
    }

    .sign_up_member h5 {
        margin: 3px 0px 0px;
        font-size: 20px;
    }

    .sign_up_member img.img-fluid.rounded-top.member_svg {
        width: 30px;
        margin: 0px 8px 7px 0px;
    }

    .sign_up_member {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
        margin: 18px 0px 2px;
    }

    .see_vocab_lesson button.btn.btn-primary img.img-fluid.rounded-top,
    .see_grammar_lesson button.btn.btn-primary img.img-fluid.rounded-top,
    .see_communication_lesson button.btn.btn-primary img.img-fluid.rounded-top {
        width: 28px;
    }

    .see_vocab_lesson button.btn.btn-primary h2,
    .see_grammar_lesson button.btn.btn-primary h2,
    .see_communication_lesson button.btn.btn-primary h2 {
        font-size: 19px;
    }

    .see_vocab_lesson button.btn.btn-primary h3,
    .see_grammar_lesson button.btn.btn-primary h3,
    .see_communication_lesson button.btn.btn-primary h3 {
        font-size: 18px;
        top: 13px;
    }

    .see_vocabulary,
    .see_grammar {
        padding-top: 164px;
    }

    form.form_logIn {
        margin-top: 0px;
    }

    form.form_sign-up h3 {
        font-size: 28px;
    }

    form.form_sign-up {
        margin-top: 0px;
    }

    .grammar {
        margin-top: 32px;
    }

    .vocabulary button.btn.btn-primary,
    .grammar button.btn.btn-primary {
        margin-top: 12px;
        font-size: 24px;
    }

    .vocabulary h3,
    .grammar h3 {
        font-size: 32px;
    }

    .vocabulary {
        margin-top: 98px;
    }

    img.img-fluid.rounded-top.icon_gt {
        margin-top: -5px;
    }

    img.img-fluid.rounded-top.icon_bcc {
        margin-top: 4px;
    }

    img.img-fluid.rounded-top.icon-np {
        margin-top: 6px;
    }

    img.img-fluid.rounded-top.icon_ot {
        margin-top: 10px;
    }

    .content {
        margin: 0px 11.4rem;
    }

    a.btn.btn-primary.sign_in {
        font-size: 20px;
        padding: 14px 4px;
    }

    .btn-group.two_sign {
        position: fixed;
        top: 115px;
        right: 1px;
    }

    a.btn.btn-primary.sign_up {
        font-size: 20px;
        padding: 12px 6px;
    }

    li.nav-item {
        padding: 0px 12px;
    }

    ul.navbar-nav {
        margin-left: -45px;
        display: flex;
        flex-direction: row;
    }

    a.navbar-brands {
        font-size: 24px;
    }

    img.img-fluid.rounded-top.icon_logo {
        margin-left: -8px;
        height: 54px;
    }
}