@media (max-width: 767px) {
    * {}

    /* end login  */
    form.form_logIn {
        margin-top: 125px;
    }

    /* end sign-up */
    .mb-4 {
        margin-bottom: 13px !important;
    }

    form.form_sign-up h3 {
        font-size: 38px;
    }

    form.form_sign-up {
        margin-top: 87px;
    }

    /* end index  */
    img.img-fluid.rounded-top.icon_gt {
        margin-top: -8px;
    }
    .vocabulary button.btn.btn-primary,
    .grammar button.btn.btn-primary {
        font-size: 23px;
        padding: 6px 21px;
        margin-top: 28px;
    }

    .vocabulary h3,
    .grammar h3 {
        font-size: 40px;
    }

    li.nav-item.active {
        border-radius: 0 50px;
    }

    .vocabulary {
        margin-top: 125px;
    }

    .content {
        margin: -125px 0 0 0px;
    }

    .btn-group.two_sign {
        margin: 16px 24px;
    }

    a.navbar-brands {
        margin-left: -3px;
    }

    img.img-fluid.rounded-top.icon_logo {
        margin-left: -5px;
    }

    li.nav-item {
        padding: 0px 13px;
    }

    ul.navbar-nav {
        position: fixed;
        bottom: 1px;
        left: 0;
        right: 0;
        margin: 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    * {}
    /* end logIn  */
    form.form_logIn {
        margin-top: 0px;
    }
    /* end sign-up */
    form.form_sign-up h3 {
        font-size: 28px;
    }

    form.form_sign-up {
        margin-top: 0px;
    }

    /* end index  */
    .grammar {
        margin-top: 32px;
    }

    .vocabulary button.btn.btn-primary,
    .grammar button.btn.btn-primary {
        margin-top: 12px;
        font-size: 24px;
    }

    .vocabulary h3,
    .grammar h3 {
        font-size: 32px;
    }

    .vocabulary {
        margin-top: 98px;
    }

    img.img-fluid.rounded-top.icon_gt {
        margin-top: -5px;
    }

    img.img-fluid.rounded-top.icon_bcc {
        margin-top: 4px;
    }

    img.img-fluid.rounded-top.icon-np {
        margin-top: 6px;
    }

    img.img-fluid.rounded-top.icon_ot {
        margin-top: 10px;
    }

    .content {
        margin: 0px 11.4rem;
    }

    a.btn.btn-primary.sign_in {
        font-size: 20px;
        padding: 14px 4px;
    }

    .btn-group.two_sign {
    position: fixed;
    top: 115px;
    right: 1px;
    }

    a.btn.btn-primary.sign_up {
        font-size: 20px;
        padding: 12px 6px;
    }


    li.nav-item {
        padding: 0px 12px;
    }

    ul.navbar-nav {
    margin-left: -45px;
    display: flex;
    flex-direction: row;
    }

    a.navbar-brands {
        font-size: 24px;
    }

    img.img-fluid.rounded-top.icon_logo {
        margin-left: -8px;
        height: 54px;
    }
}