* {
    padding: 0;
    margin: 0;
    font-family: "Itim"
}

.alertSuccess .alert a.btn.btn-primary {
    margin-right: 55px;
}

.alertSuccess .alert .contentAlert {
    margin: 0px 132px 0px 11px;
}

.alertSuccess .alert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alertSuccess {
    position: absolute;
    top: 355px;
    background-color: #0d6efd;
    color: white;
    font-size: 27px;
    padding: 0px 55px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
}

.viewAndWrite a.btn.btn-primary {
    font-size: 25px;
    padding: 5px 22px;
    border-radius: 20px;
    background-color: #FB003C;
    border: none;
}

.viewAndWrite .writeVocab input.form-control {
    font-size: 24px;
    padding: 8px 12px;
    border-radius: 11px;
}

.viewAndWrite .writeVocab {
    width: 500px;
    margin-bottom: 38px;
}

.viewAndWrite .viewVocab {
    font-size: 33px;
    padding: 3px 185px;
    box-shadow: 0 0 6px 0px #000000b0;
    margin-bottom: 157px;
    margin-top: 15px;
    border-radius: 22px;
}

.viewAndWrite h2 {
    font-size: 41px;
}

.viewAndWrite {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionChoose.optionChooseColor {
    background-color: #0d6efd !important;
    color: white !important;
}

.listenAndChoose a.btn.btn-primary {
    font-size: 25px;
    padding: 6px 27px;
    border-radius: 27px;
    background-color: #FB003C;
    border: none;
}

.listenAndChoose .optionChoose:hover {
    background-color: #0d6efd;
    color: white;
}

.listenAndChoose .optionChoose {
    width: 245px;
    height: 100px;
    font-size: 34px;
    margin: 0 24px 38px 24px;
    background-color: #f5f5dc00;
    color: black;
    border: none;
    box-shadow: 0 0 10px #00000080;
    border-radius: 30px;
}

.listenAndChoose .optionChooseALL {
    margin-bottom: 10px;
}

.listenAndChoose .sound_listen {
    font-size: 46px;
    margin-bottom: 20px;
}

.listenAndChoose h2 {
    margin-bottom: 14px;
    margin-top: 10px;
}

.listenAndChoose {
    background-color: #FFF1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i.fa-solid.fa-hand-pointer {
    font-size: 29px;
    position: absolute;
    top: 373px;
    z-index: 3;
    color: #fb003c69;
}

.flashcardAfter.hiddenAfter {
    animation: hiddenAfter 0.2s forwards;
}

@-webkit-keyframes hiddenAfter {
    from {
        transform: rotateY(0);
        opacity: 1;
    }

    to {
        transform: rotateY(90deg);
        opacity: 0;
        visibility: hidden;
    }
}

.flashcardBefore.showBefore {
    animation: showBefore 0.5s forwards;
}

@-webkit-keyframes showBefore {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.flashcardAfter.showAfter {
    animation: showAfter 0.5s forwards;
}

@-webkit-keyframes showAfter {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.flashcardBefore.hiddenBefore {
    animation: hiddenBefore 0.2s forwards;
}

@-webkit-keyframes hiddenBefore {
    from {
        transform: rotateY(0);
        opacity: 1;
    }

    to {
        transform: rotateY(90deg);
        opacity: 0;
        visibility: hidden;
    }
}

i.fa-solid.fa-volume-high.scale {
    animation: sound_card 1.5s forwards;
}

@-webkit-keyframes sound_card {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.flashCards a.btn.btn-primary {
    padding: 3px 25px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: #FB003C;
    margin-top: 450px;
}

.studyVocabLesson .flashCards .flashcardAfter h3.sino_vietnamese_sound {
    font-size: 21px;
}

.studyVocabLesson .flashCards .flashcardAfter h3.pronunciation {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 56px;
}

.studyVocabLesson .flashCards .flashcardAfter h3.mean {
    font-size: 35px;
    margin-bottom: 28px;
}

.studyVocabLesson .flashCards .flashcardBefore p.example {
    font-size: 23px;
    padding: 10px 0px;
}

.studyVocabLesson .flashCards .flashcardBefore h2.name {
    padding: 28px 0px;
    font-size: 98px;
}

.sound_flash_cards {
    font-size: 35px;
    position: absolute;
    top: 13px;
    z-index: 3;
}

.studyVocabLesson .flashCards .flashcardAfter {
    z-index: 1;
}

.studyVocabLesson .flashCards .flashcardBefore {
    z-index: 2;
}

.studyVocabLesson .flashCards .flashcardAfter,
.studyVocabLesson .flashCards .flashcardBefore {
    background-color: white;
    width: 304px;
    padding: 44px 0px;
    position: absolute;
    top: 40px;
    border-radius: 29px;
    height: 341px;
}

.studyVocabLesson .flashCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.studyVocabLesson .howToLearn.active {
    opacity: 1;
}

.studyVocabLesson .howToLearn {
    height: 493px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF1F1;
}

.studyVocabLesson {
    position: relative;
    background-color: #FFF1F1;
}

.studyVocab .progress_vocab .progress,
.progress-stacked {
    --bs-progress-bar-bg: #FB003C;
}

.studyVocab .progress_vocab .progress {
    width: 100%;
    margin-top: 5px;
    margin-left: 11px;
    height: 24px;
    border-radius: 21px;
    background-color: #493b4e1c;
    margin-right: 15px;
}

.studyVocab .progress_vocab i.fa-solid.fa-xmark {
    font-size: 36px;
}

.studyVocab .progress_vocab {
    display: flex;
    flex-direction: row;
}

.studyVocab {
    padding: 123px 0 20px 0;
    position: relative;
}

/* end vocabLessonContent */
.vocabLessonContent a.btn.btn-primary.btnVocabCStudy {
    padding: 8px 17px;
    font-size: 24px;
    border-radius: 21px;
    background-color: #FB003C;
    border: none;
}

.vocabLessonContent ul.listVocab li p.mean_vocab {
    margin-left: 21px;
}

.vocabLessonContent ul.listVocab li {
    display: flex;
    flex-direction: row;
}

.vocabLessonContent ul.listVocab {
    list-style: none;
    font-size: 20px;
    margin-left: 52px;
    margin-bottom: 3px;
}

.vocabLessonContent .h2 {
    font-size: 45px;
    margin-bottom: 18px;
}

.vocabLessonContent {
    padding: 126px 0 20px 0;
    background-color: #FFF1F1;
    position: relative;
}

/* end studyAlphabet */
.flashcards_alphabet_all i.fa-solid.fa-chevron-left {
    position: absolute;
    left: 14px;
    top: 150px;
    font-size: 55px;
    cursor: pointer;
}

.flashcards_alphabet_all i.fa-solid.fa-chevron-right {
    position: absolute;
    font-size: 55px;
    top: 150px;
    right: 12px;
    cursor: pointer;
}

.flashcards_alphabet_all {
    position: relative;
}

.flashcards_alphabet .flashcard.active {
    opacity: 1;
}

.flashcards_alphabet .flashcard {
    background-color: #D9D9D9;
    padding: 47px 20px;
    border-radius: 23px;
    box-shadow: 0 0 8px 0px #00000070;
    opacity: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.flashcards_alphabet i.fa-solid.fa-chevron-left {
    font-size: 48px;
    position: absolute;
    left: 0px;
    top: 98px;
}

.flashcards_alphabet i.fa-solid.fa-chevron-right {
    font-size: 48px;
    position: absolute;
    top: 98px;
    right: 0px;
    color: #000000a6;
}

.flashcards_alphabet p.example {
    font-size: 22px;
}

.flashcards_alphabet h1.name {
    font-size: 115px;
    font-weight: 600;
}

.flashcards_alphabet {
    position: relative;
}

h2.tittle_alphabet {
    font-size: 33px;
    font-weight: lighter;
    margin-bottom: 18px;
}

.button_alphabet h3.pronunciation {
    margin: 0;
}

a.btn.btn-primary.button_alphabet:hover h2.name {
    transform: scale(1.4);
}

.button_alphabet h2.name {
    margin: 0;
    font-weight: 600;
    padding-top: 4px;
    font-size: 30px;
    transition: 0.4s;
}

a.btn.btn-primary.button_alphabet {
    padding: 3px 26px;
    margin: 0px 7px 7px 0;
    background-color: #F32456;
    border: none;
}

.studyAlphabet a.btn.btn-primary.arrowBack {
    color: black;
    background-color: #f0f8ff00;
    border: none;
    font-size: 33px;
    padding: 0 0 7px 0px;
    display: flex;
}

.studyAlphabet {
    padding: 114px 0 24px 0;
    background-color: #FFF1F1;
}

/* end alphbet_lessonContent */

.alphbet_lessonContent a.btn.btn-primary.arrowBack {
    font-size: 30px;
    background-color: #00008000;
    color: black;
}

.alphbet_lessonContent a.btn.btn-primary h4 {
    position: absolute;
    top: 17px;
    right: 32px;
    font-size: 21px;
    transition: 0.5s;
}

.alphbet_lessonContent a.btn.btn-primary:hover h4 {
    transform: scale(1.2);
}

.alphbet_lessonContent a.btn.btn-primary h3 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 15px;
    transition: 0.5s;
}

.alphbet_lessonContent a.btn.btn-primary:hover h3 {
    transform: scale(1.2);
}

.alphbet_lessonContent a.btn.btn-primary {
    background-color: #F32456;
    border: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    position: relative;
    border-radius: 21px;
}

.alphbet_lessonContent {
    padding-top: 113px;
}

/* end home */
.info_details li.list-group-item1,
.info_details li.list-group-item2 {
    padding: 12px 25px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    border-bottom: 1px solid white;
    cursor: pointer;
}

ul.list-group.list-group-numbered.info_details.hidden_info {
    opacity: 0;
    visibility: hidden;
}

ul.list-group.list-group-numbered.info_details::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 10px;
    height: 0px;
    border: 11px solid transparent;
    border-bottom-color: white;
}

ul.list-group.list-group-numbered.info_details {
    position: absolute;
    top: 109px;
    right: 70px;
    border-radius: inherit;
    background-color: #FAB1B1;
    transition: 0.4s;
}

.info_user i.fa-solid.fa-caret-down {
    margin-left: 7px;
    margin-top: 3px;
}

.info_user h5 {
    font-weight: 500;
    color: #F32456;
    font-size: 17px;
}

.name_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_user img.img-fluid.user_svg {
    width: 39px;
    padding: 7px;
    border-radius: 23px;
    margin-left: 58px;
    margin-bottom: 4px;
    background-color: #ffffffba;
}

.info_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    position: relative;
    cursor: pointer;
}

.sign_up_member h5 {
    font-size: 17px;
    color: #4A5699;
}

.sign_up_member img.img-fluid.rounded-top.member_svg {
    width: 39px;
    margin-left: 54px;
    margin-bottom: 4px;
}

.sign_up_member {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 25px;
}

/* end see_vocab_lesson see_grammar_lesson see_communication_lesson*/

.see_vocab_lesson button.btn.btn-primary img.img-fluid.rounded-top,
.see_grammar_lesson button.btn.btn-primary img.img-fluid.rounded-top,
.see_communication_lesson button.btn.btn-primary img.img-fluid.rounded-top {
    width: 34px;
    position: absolute;
    right: 20px;
}

.see_vocab_lesson button.btn.btn-primary h3,
.see_grammar_lesson button.btn.btn-primary h3,
.see_communication_lesson button.btn.btn-primary h3 {
    position: absolute;
    right: 23px;
    margin: 0;
    font-size: 23px;
    top: 14px;
}

.see_vocab_lesson button.btn.btn-primary h2,
.see_grammar_lesson button.btn.btn-primary h2,
.see_communication_lesson button.btn.btn-primary h2 {
    font-weight: 900;
    font-size: 27px;
    margin: 4px 0 0 6px;
}

.see_vocab_lesson button.btn.btn-primary:hover,
.see_grammar_lesson button.btn.btn-primary:hover,
.see_communication_lesson button.btn.btn-primary:hover {
    background-color: #f32456a8;
}

.see_vocab_lesson button.btn.btn-primary,
.see_grammar_lesson button.btn.btn-primary,
.see_communication_lesson button.btn.btn-primary {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #F32456;
    border: none;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 0.3s;
}

.see_vocab_lesson .row,
.see_grammar_lesson .row,
.see_communication_lesson .row {
    justify-content: center;
}

.see_vocab_lesson,
.see_grammar_lesson,
.see_communication_lesson {
    padding-top: 128px;
    padding-bottom: 50px;
}

/* end see_vocabulary see_grammar*/
.see_vocabulary a.btn.btn-primary:hover,
.see_grammar a.btn.btn-primary:hover {
    transform: scale(1.2)
}

.see_vocabulary a.btn.btn-primary,
.see_grammar a.btn.btn-primary {
    font-size: 90px;
    padding: 0px 17px;
    border-radius: 23px;
    margin-bottom: 44px;
    background-color: #F32456;
    border: none;
    transition: 0.4s;
}

.see_vocabulary,
.see_grammar {
    padding-top: 136px;
}

/* end see_alphabet */
.see_alphabet i.fa-solid.fa-lock {
    font-size: 19px;
    margin-left: 107px;
}

.see_alphabet p.study_free {
    margin: 0;
}

.see_alphabet h2 {
    font-size: 73px;
    font-weight: 800;
    transition: 0.8s;
}

.see_alphabet h3 {
    font-size: 30px;
    margin-top: 9px;
    font-weight: 600;
}

.see_alphabet a.btn.btn-primary:hover h2 {
    transform: scale(1.5);
}

.see_alphabet a.btn.btn-primary {
    background-color: #F32456;
    border: none;
    padding: 0 25px;
    border-radius: 30px;
}

.see_alphabet {
    padding-top: 141px;
}

/* end logIn */
form.form_logIn .btn.btn-primary.btn_logIn {
    font-size: 22px;
    padding: 6px 25px;
    border-radius: 34px;
    background-color: #FB003C;
    border: none;
    margin-top: 16px;
}

form.form_logIn i.fa-solid.fa-eye-slash {
    position: absolute;
    top: 18px;
    right: 21px;
}

form.form_logIn i.fa-solid.fa-eye {
    position: absolute;
    top: 18px;
    right: 23px;
}

form.form_logIn input.form-control {
    padding: 13px 20px;
    border: none;
    border-radius: 30px;
    font-size: 22px;
}

form.form_logIn h3 {
    font-size: 43px;
    margin-bottom: 32px;
    color: #FB003C;
}

form.form_logIn {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
    background-color: #FFF1F1;
}

/* end sign_up */
i.fa-solid.fa-eye.hidden_eye {
    opacity: 0;
    visibility: hidden;
}

i.fa-solid.fa-eye-slash.hidden {
    opacity: 0;
    visibility: hidden;
}

form.form_sign-up i.fa-solid.fa-eye-slash {
    position: absolute;
    top: 17px;
    right: 18px;
    cursor: pointer;
}

form.form_sign-up i.fa-solid.fa-eye {
    position: absolute;
    top: 16px;
    right: 19px;
    font-size: 16px;
    cursor: pointer;
}

.mb-4.pass {
    position: relative;
}

form.form_sign-up button.btn.btn-primary.btn_sign_up {
    font-size: 22px;
    padding: 7px 46px;
    border-radius: 35px;
    background-color: #FB003C;
    border: none;
    margin-top: 23px;
}

small#helpId {
    color: red;
}

form.form_sign-up input.form-control {
    padding: 11px 20px;
    border-radius: 32px;
    border: none;
    font-size: 22px;
}

form.form_sign-up h3 {
    font-size: 43px;
    color: #FB003C;
    margin-bottom: 22px;
    margin-top: 21px;
}

form.form_sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 107px;
    background-color: #FFF1F1;
    padding-bottom: 20px;
}

/* end index  */

.vocabulary button.btn.btn-primary,
.grammar button.btn.btn-primary {
    margin-top: 46px;
    font-size: 29px;
    border-radius: 36px;
    padding: 6px 20px;
    background-color: #FB003C;
    border: none;
}

.vocabulary h3,
.grammar h3 {
    font-size: 45px;
    text-align: center;
    color: #FB003C;
}

.grammar {
    margin-top: 70px;
}

.vocabulary {
    padding-top: 166px;
}

.content {
    background-color: #FFF1F1;
    text-align: center;
    margin: 0px 25.1rem 0 20.9rem;
    /* overflow-y: hidden; */
}

html,
body,
main,
.content {
    height: 100%;
}

/* end menu */

img.img-fluid.rounded-top.icon_logo {
    margin-left: 14px;
}

img.img-fluid.rounded-top.icon_gt {
    margin-top: -10px;
}

img.img-fluid.rounded-top.icon_bcc {
    margin-top: 4px;
}

img.img-fluid.rounded-top.icon_ot {
    margin-top: 9px;
}

img.img-fluid.rounded-top.icon-np {
    margin-top: 7px;
}

img.img-fluid.rounded-top.icon_tv {
    margin-top: 8px;
}

a.btn.btn-primary.sign_in {
    padding: 13px 23px;
    background-color: #F32456;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 1px solid #ffffffbd
}

a.btn.btn-primary.sign_up {
    padding: 13px 20px;
    background-color: #F32456;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

.btn-group.two_sign {
    margin-left: 65px;
}

li.nav-item.active {
    background-color: #FFF1F1;
}

li.nav-item {
    padding: 0px 30px;
}

ul.navbar-nav {
    margin-left: 129px;
}

nav.navbar.navbar-expand-xl {
    background-color: #FAB1B1;
    padding: 0;
}