* {
    padding: 0;
    margin: 0;
    font-family: "Itim"
}

.info_details li.list-group-item1,
.info_details li.list-group-item2
{
    padding: 12px 25px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    border-bottom: 1px solid white;
    cursor: pointer;
}

ul.list-group.list-group-numbered.info_details.hidden_info {
    opacity: 0;
    visibility: hidden;
}

ul.list-group.list-group-numbered.info_details::after{
    content: "";
    position:absolute;
    top: -25px;
    right: 10px;
    height: 0px;
    border: 11px solid transparent;
    border-bottom-color: white;
}

ul.list-group.list-group-numbered.info_details {
    position: absolute;
    top: 109px;
    right: 70px;
    border-radius: inherit;
    background-color: #FAB1B1;
    transition: 0.4s;
}

.info_user i.fa-solid.fa-caret-down {
    margin-left: 7px;
    margin-top: 3px;
}

.info_user h5 {
    font-weight: 500;
    color: #F32456;
    font-size: 17px;
}

.name_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_user img.img-fluid.user_svg {
    width: 39px;
    padding: 7px;
    border-radius: 23px;
    margin-left: 58px;
    margin-bottom: 4px;
    background-color: #ffffffba;
}

.info_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    position: relative;
    cursor: pointer;
}

.sign_up_member h5 {
    font-size: 17px;
    color: #4A5699;
}

.sign_up_member img.img-fluid.rounded-top.member_svg {
    width: 39px;
    margin-left: 54px;
    margin-bottom: 4px;
}

.sign_up_member {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 25px;
}

/* end see_vocab_lesson see_grammar_lesson see_communication_lesson*/

.see_vocab_lesson button.btn.btn-primary img.img-fluid.rounded-top,
.see_grammar_lesson button.btn.btn-primary img.img-fluid.rounded-top,
.see_communication_lesson button.btn.btn-primary img.img-fluid.rounded-top
{
    width: 34px;
    position: absolute;
    right: 20px;
}

.see_vocab_lesson button.btn.btn-primary h3,
.see_grammar_lesson button.btn.btn-primary h3,
.see_communication_lesson button.btn.btn-primary h3
{
    position: absolute;
    right: 23px;
    margin: 0;
    font-size: 23px;
    top: 14px;
}

.see_vocab_lesson button.btn.btn-primary h2,
.see_grammar_lesson button.btn.btn-primary h2,
.see_communication_lesson button.btn.btn-primary h2
{
    font-weight: 900;
    font-size: 27px;
    margin: 4px 0 0 6px;
}

.see_vocab_lesson button.btn.btn-primary:hover,
.see_grammar_lesson button.btn.btn-primary:hover,
.see_communication_lesson button.btn.btn-primary:hover
{
    background-color: #f32456a8;
}

.see_vocab_lesson button.btn.btn-primary,
.see_grammar_lesson button.btn.btn-primary,
.see_communication_lesson button.btn.btn-primary
{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #F32456;
    border: none;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 0.3s;
}

.see_vocab_lesson .row,
.see_grammar_lesson .row,
.see_communication_lesson .row
{
    justify-content: center;
}

.see_vocab_lesson,
.see_grammar_lesson,
.see_communication_lesson
{
    padding-top: 128px;
    padding-bottom: 50px;
}

/* end see_vocabulary see_grammar*/
.see_vocabulary a.btn.btn-primary:hover,
.see_grammar a.btn.btn-primary:hover {
    transform: scale(1.2)
}

.see_vocabulary a.btn.btn-primary,
.see_grammar a.btn.btn-primary {
    font-size: 90px;
    padding: 0px 17px;
    border-radius: 23px;
    margin-bottom: 44px;
    background-color: #F32456;
    border: none;
    transition: 0.4s;
}

.see_vocabulary,
.see_grammar {
    padding-top: 136px;
}

/* end see_alphabet */
.see_alphabet i.fa-solid.fa-lock {
    font-size: 19px;
    margin-left: 107px;
}

.see_alphabet p.study_free {
    margin: 0;
}

.see_alphabet h2 {
    font-size: 73px;
    font-weight: 800;
    transition: 0.8s;
}

.see_alphabet h3 {
    font-size: 30px;
    margin-top: 9px;
    font-weight: 600;
}

.see_alphabet a.btn.btn-primary:hover h2 {
    transform: scale(1.5);
}

.see_alphabet a.btn.btn-primary {
    background-color: #F32456;
    border: none;
    padding: 0 25px;
    border-radius: 30px;
}

.see_alphabet {
    padding-top: 141px;
}

/* end logIn */
form.form_logIn .btn.btn-primary.btn_logIn {
    font-size: 22px;
    padding: 6px 25px;
    border-radius: 34px;
    background-color: #FB003C;
    border: none;
    margin-top: 16px;
}

form.form_logIn i.fa-solid.fa-eye-slash {
    position: absolute;
    top: 18px;
    right: 21px;
}

form.form_logIn i.fa-solid.fa-eye {
    position: absolute;
    top: 18px;
    right: 23px;
}

form.form_logIn input.form-control {
    padding: 13px 20px;
    border: none;
    border-radius: 30px;
    font-size: 22px;
}

form.form_logIn h3 {
    font-size: 43px;
    margin-bottom: 32px;
    color: #FB003C;
}

form.form_logIn {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
    background-color: #FFF1F1;
}

/* end sign_up */
i.fa-solid.fa-eye.hidden_eye {
    opacity: 0;
    visibility: hidden;
}

i.fa-solid.fa-eye-slash.hidden {
    opacity: 0;
    visibility: hidden;
}

form.form_sign-up i.fa-solid.fa-eye-slash {
    position: absolute;
    top: 17px;
    right: 18px;
    cursor: pointer;
}

form.form_sign-up i.fa-solid.fa-eye {
    position: absolute;
    top: 16px;
    right: 19px;
    font-size: 16px;
    cursor: pointer;
}

.mb-4.pass {
    position: relative;
}

form.form_sign-up button.btn.btn-primary.btn_sign_up {
    font-size: 22px;
    padding: 7px 46px;
    border-radius: 35px;
    background-color: #FB003C;
    border: none;
    margin-top: 23px;
}

small#helpId {
    color: red;
}

form.form_sign-up input.form-control {
    padding: 11px 20px;
    border-radius: 32px;
    border: none;
    font-size: 22px;
}

form.form_sign-up h3 {
    font-size: 43px;
    color: #FB003C;
    margin-bottom: 22px;
    margin-top: 21px;
}

form.form_sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 107px;
    background-color: #FFF1F1;
    padding-bottom: 20px;
}

/* end index  */

.vocabulary button.btn.btn-primary,
.grammar button.btn.btn-primary {
    margin-top: 46px;
    font-size: 29px;
    border-radius: 36px;
    padding: 6px 20px;
    background-color: #FB003C;
    border: none;
}

.vocabulary h3,
.grammar h3 {
    font-size: 45px;
    text-align: center;
    color: #FB003C;
}

.grammar {
    margin-top: 70px;
}

.vocabulary {
    padding-top: 166px;
}

.content {
    background-color: #FFF1F1;
    text-align: center;
    margin: 0px 25.1rem 0 20.9rem;
    /* overflow-y: hidden; */
}

html,
body,
main,
.content {
    height: 100%;
}

/* end menu */

img.img-fluid.rounded-top.icon_logo {
    margin-left: 14px;
}

img.img-fluid.rounded-top.icon_gt {
    margin-top: -10px;
}

img.img-fluid.rounded-top.icon_bcc {
    margin-top: 4px;
}

img.img-fluid.rounded-top.icon_ot {
    margin-top: 9px;
}

img.img-fluid.rounded-top.icon-np {
    margin-top: 7px;
}

img.img-fluid.rounded-top.icon_tv {
    margin-top: 8px;
}

a.btn.btn-primary.sign_in {
    padding: 13px 23px;
    background-color: #F32456;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 1px solid #ffffffbd
}

a.btn.btn-primary.sign_up {
    padding: 13px 20px;
    background-color: #F32456;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

.btn-group.two_sign {
    margin-left: 65px;
}

li.nav-item.active {
    background-color: #FFF1F1;
}

li.nav-item {
    padding: 0px 30px;
}

ul.navbar-nav {
    margin-left: 129px;
}

nav.navbar.navbar-expand-xl {
    background-color: #FAB1B1;
    padding: 0;
}